body {
    min-height: 100vh;
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    -webkit-user-select: none;
}

* {
    padding: 0px;
    margin: 0px;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    left: 0px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(56, 56, 56);
    color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Maintxt {
    position: relative;
}

.main-body {
    width: 85%;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#subdody {
    position: relative;
    box-sizing: border-box;
    padding: 0px 100px;
    
}

.inputs_txt {
    box-sizing: border-box;
    padding: 2px 10px;
    height: 50px;
    width: 500px;
    border-radius: 6px;
    font-size: 30px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0);
    margin: 30px 10px 0px 10px;
    background-color: rgb(240, 237, 237);
}

.inputs_txt[type="button"] {
    width: 120px;
}

.inputs_txt:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0);
}

.inputs_txt:focus {
    box-shadow: 0px 0px 5px 0px rgb(245, 190, 109);
}
footer{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-top: auto;
background-color: rgb(238, 236, 236);
width: 100%;
height: 50px;
text-align: center;
box-sizing: border-box;
padding: 10px 0px;
}

@media only screen and (max-width: 600px) {
   .main-body{
    padding: 50px 0px;
    width: 100%;
   }
   .inputs_txt{
    width: 90%;
    font-size:3.5vh;
    margin: 30px 10px;
   }
   #subdody{
       padding: 0px 0px;
       width: 100%;
   }
}